<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/sstatic/style/reset.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/admin_agent.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/form.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/dropdown.css">
    <title>Estate Ease</title>
    <style>
	a {
              text-decoration: none;
              color: black;
         }

	a:hover {
            border-left: solid 5px #22CE83;
            padding-left: 3px;
            color: black;
        }

    </style>
</head>
<body>
    <header>
	  <div class="p">
	  <p class="name"><b>Estate<span>Ease<span></b></p>
	  <p class="role">Making Real Estate Simple</p>
	  </div>
	  <ul class="nav">
	    <div class="dropdown">
                  <button class="dropbtn">Agent / House</button>
                  <div class="dropdown-content">
                  <a href="/admin/add_house">Add house</a>
                  <a href="/admin/list_house">List House</a>
                  <a href="/admin/add_agent">Add Agent</a>
                  <a href="/admin/list_agent">List Agent</a>
                  <a href="/admin/list_admin">List Admin</a>
                  <a href="/admin/list_tenant">List Tenant</a>
               </div>
            </div>

	    <a href="/admin"><b>Home</b></a>
            <a href="/logout"><b>Logout</b></a>
	  </ul>
    </header>
    <div class="container">
	<section class="mini-nav">
	  <div>
	    <p class="name"><b>{{ user.full_name  }}</b></p>
	    <p class="role">{{ user.__class__.__name__  }}</p>
	  </div>
	  <a href="/agent"><h2 style="color: #808080"`>Dashboard</h2></a>
	</section>
	<div class="form-container">
          <h2>Add New House</h2>
	  <p class="login-status"><b>{{ f_status  }}</b></p>
	  <p class="login-status2"><b>{{ s_status  }}</b></p>
          <form action="/admin/add_house" method="POST" enctype="multipart/form-data">

	    <label for="name">Agent name:<span style="color: red"> *</span></label>
	     <select name="agent_id" required>
		<option value="">Select</option>
		{% for agent in agents  %}
		<option value="{{ agent.id }}">{{ agent.full_name  }}</option>
		{% endfor %}
            </select>

	    <label for="name">Price:<span style="color: red"> *</span></label>
            <input type="text" id="name" name="price" required>

	    <label for="name">Location:<span style="color: red"> *</span></label>
            <input type="text" id="name" name="location" required>

            <label for="name">House type:<span style="color: red"> *</span></label>
            <input type="text" id="name" name="house_type" required>

	    <label for="name">Discription:</label>
            <input type="text" id="name" name="discription">

	    <label for="name">Upload Image:<span style="color: red"> *</label>
            <input type="file" id="name" name="file" accept=".png, .jpg, .jpeg">



            <input type="submit" value="Add House">
          </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 EstateEase. All rights reserved.</p>
    </footer>
</body>
</html>
