<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/sstatic/style/reset.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/admin_agent.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/form.css">
    <title>Estate Ease</title>
    <style>
    </style>
</head>
<body>
    <header>
	  <div class="p">
	  <p class="name"><b>Estate<span>Ease<span></b></p>
	  <p class="role">Making Real Estate Simple</p>
	  </div>
	  <ul class="nav">
	    <li><b>Home</b></li>
	    <li><b>About</b></li>
            <li><b>Contact</b></li>
            <li><b>Properties</b></li>
	  </ul>
    </header>
    <div class="container">
	<section class="mini-nav">
	  <div>
	    <p class="name"><b>{{ user.full_name  }}</b></p>
	    <p class="role">{{ user.__class__.__name__  }}</p>
	  </div>
	    <ul class="nav">
              <li>Home</li>
              <li>Add-House</li>
              <li>Add-Agent</li>
              <li>Logout</li>
            </ul>
	</section>
	<div class="form-container">
          <h2>Add New Admin / Agent</h2>
	  <p class="login-status"><b>{{ f_status  }}</b></p>
	  <p class="login-status2"><b>{{ s_status  }}</b></p>
          <form action="/admin/add_agent" method="POST">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="full_name" required>

	    <label for="name">User name:</label>
            <input type="text" id="name" name="user_name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

	    <label for="name">Role:</label>
	     <select name="role" required>
                <option value="2">agent</option>
                <option value="1">admin</option>
            </select>

	    <label for="name">Phone no:</label>
            <input type="text" id="name" name="phone_no" required>

	    <label for="name">address:</label>
            <input type="text" id="name" name="address" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Add User">
          </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 EstateEase. All rights reserved.</p>
    </footer>
</body>
</html>
