<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/sstatic/style/reset.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/admin_agent.css">
    <title>Estate Ease</title>
    <style>
	a {
              text-decoration: none;
              color: black;
         }

	a:hover {
	    border-left: solid 5px #22CE83;
	    padding-left: 3px;
            color: black;
        }

	.image-box {
            border: none;
            background-color: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

	img .conhtainer, .img {
		background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

    </style>
</head>
<body>
    <header>
	  <div class="p">
	  <p class="name"><b>Estate<span>Ease<span></b></p>
	  <p class="role">Making Real Estate Simple</p>
	  </div>
	  <ul class="nav">
              <a href="/logout"><b>Logout</b></a>
	  </ul>
    </header>
    <div class="container">
	<section class="mini-nav">
	  <div>
	    <p class="name"><b>{{ user.full_name  }}</b></p>
	    <p class="role">{{ user.__class__.__name__  }}</p>
	  </div>
	    <ul class="nav">
		    <a href="/agent"><h2 style="color: #808080"`>Dashboard</h2></a>
            </ul>
	</section>
	<div class="img">
		<h1> Unoccupied House(s) ({{ user.un_occufied() | length}})</h1>
	  {% for house in user.un_occufied() %}
	  <div class="image-box">
		  <a href="/house/{{ house.id  }}"><img src="../static/uploads/{{ house.id }}.jpg" alt="House Image"></a>
    
	    <h2 style="color: #808080">{{ house.price }} per annum</h2>
	    <p style="color: #808080">{{ house.house_type  }}</p>
 	    <p style="color: #808080">{{ house.location  }}</p>

	  </div>
    	  {% endfor  %}
	</div>

	<div class="img">
                <h1> Occupied House(s) ({{ user.occufied() | length}})</h1>
          {% for house in user.occufied() %}
           <div class="image-box">
	    <a href="/house/{{ house.occufied_id  }}"><img src="../static/uploads/{{ house.id }}.jpg" alt="House Image"></a>

            <h2 style="color: #808080">{{ house.price }} per annum</h2>
	    {% if house.payment_status == 1 %}
            <p style="color: #22CE83"><b>Peyment Status: </b>Paid</p>
            {% else %}
            <p style="color: red"><b>Peyment Status: </b>Not Paid</p>
            {% endif %}
            <p style="color: #808080">{{ house.house_type  }}</p>
            <p style="color: #808080">{{ house.location  }}</p>

          </div>
          {% endfor  %}

        </div>
    </div>
    <footer>
        <p>&copy; 2024 EstateEase. All rights reserved.</p>
    </footer>
</body>
</html>
