<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="/sstatic/style/reset.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/admin_agent.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/dropdown.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/form.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/list.css">
    <title>Estate Ease</title>
    <style>
	a {
              text-decoration: none;
              color: black;
         }

	a:hover {
	    border-left: solid 5px #22CE83;
	    padding-left: 3px;
            color: black;
        }

	.image-box {
            border: none;
            background-color: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

	img {
		background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	.list_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: auto;
        }

        .list_container > * {
                flex: 1;
        }


    </style>
</head>
<body>
    <header>
	  <div class="p">
	  <p class="name"><b>Estate<span>Ease<span></b></p>
	  <p class="role">Making Real Estate Simple</p>
	  </div>
	  <ul class="nav">
	    <div class="dropdown">
              <button class="dropbtn">Agent / House</button>
                <div class="dropdown-content">
            	  <a href="/admin/add_house">Add house</a>
            	  <a href="/admin/list_house">View House</a>
            	  <a href="/admin/add_agent">Add Agent</a>
            	  <a href="/admin/list_agent">View Agent</a>
              	  <a href="/admin/list_tenant"><b>View Tenant</b></a>
                </div>
    	    </div>
            <a href="/admin"><b>Home</b></a>
            <a href="/logout"><b>Logout</b></a>
	  </ul>
    </header>
    <div class="container">
	<section class="mini-nav">
	  <div>
	    <p class="name"><b>{{ user.full_name  }}</b></p>
	    <p class="role">{{ user.__class__.__name__  }}</p>
	  </div>
	    <ul class="nav">
		    <a href="/admin"><h2 style="color: #808080"`>Dashboard</h2></a>
            </ul>
	</section>
	<div class="list_container">
	  <h1> List of Tenant ({{ tenants | length}})</h1>
	  <input type="text" id="searchBox" placeholder="Search for Tenant...">
	  <table class="styled-table">
	   <thead>
	   <tr>
	     <th><b> Id </b></th>
	     <th><b> Full Name</b></th>
	     <th><b>Phone no</b></th>
	     <th><b>email</b></th>
	     <th><b>Action</b></th>
	   </tr>
	   </thead>
	   <tbody id="agentTableBody">
	  {% for v in tenants  %}
	  <tr>
	    <td> {{ v.id }} </td>
	    <td> {{ v.full_name }} </td>
	    <td> {{ v.phone_no }} </td>
	    <td> {{ v.email  }}  </td>
	    <td>
  	      <div id="form-con{{ v.id  }}" style="display: none">
		<form id="form-{{ v.id }}" class="form-container">
		  <label for "full_name">Full_name</label>
		  <input type='text' id='full_name'  name='full_name'><br>
		  <label for "phone_no">Phone No:</label>
                  <input type='text' id='phone_no'  name='phone_no'><br>
		  <label for "password">password</label>
                  <input type='text' id='password' name='password'><br>
		  <button type="submit" class="submit" value="{{ v.id }}"> Update </button>
		  <p id="status-{{ v.id }}"></p>
                </form>
              </div>
	      <button class="action-button" data-id="{{ v.id  }}">Edit</button>
	      <button class="action-button delete" value="{{ v.id  }}">Delete</button>
	    </td>
	  </tr>
  	  {% endfor  %}
	   </tbody>
	  </table>
	</div>
    </div>
    <footer>
        <p>&copy; 2024 EstateEase. All rights reserved.</p>
    </footer>

<script>
  $(function(){

    $('#searchBox').on('keyup', function() {
       const searchQuery = $(this).val().toLowerCase();

       $('#agentTableBody tr').each(function() {

          const id = $(this).find('td').eq(0).text().toLowerCase();
          const fullName = $(this).find('td').eq(1).text().toLowerCase();
          const phoneNo = $(this).find('td').eq(2).text().toLowerCase();
          const email = $(this).find('td').eq(3).text().toLowerCase();

          if (fullName.includes(searchQuery) || phoneNo.includes(searchQuery) || id.includes(searchQuery) || email.includes(searchQuery)) {
              $(this).show();
          } else {
              $(this).hide();
          }
        });
    });

    $(".action-button").on("click", function(){
        var id = $(this).data("id");
        $("#form-con" + id).fadeIn()
    })
    
    $(".form-container").on("submit", function(event) {
      var id = $(this).find("button[type='submit']").val()
      event.preventDefault();
      const result = confirm("Are you sure to update: " + $(this).serialize())
      if (!result) {
        return
      }
      $.ajax({
         url: "/admin/update/" + id,
         method: "POST",
         data: $(this).serialize(),
         success: function(response) {
           $("#status-" + id).text(response)
	   alert(response)
	   location.reload()
           },
         error: function(xls, status, err) {
           $("#status-" + id).text("error")
         }
      })
    })

    $(".action-button.delete").on("click", function(){
      var id = $(this).val();
      dic = JSON.stringify({id: id})
      result = confirm("Are you sure you want to delele user?")
      if (!result) {
	return
      }
      $.ajax({
	url: "/admin/delete/" + id,
	data: dic,
	method: "DELETE",
	contentType: "application/json",
	success: function(res) {
	  alert(res)
	  location.reload()
        },
        error: function(xhr, status, error) {
          alert(error)
          location.reload()
        }
      })
  })
})
</script>
</body>
</html>
