<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="/sstatic/style/reset.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/admin_agent.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/dropdown.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/form.css">
    <link rel="stylesheet"  type="text/css" href="/static/style/list.css">
    <title>Estate Ease</title>
    <style>
	a {
              text-decoration: none;
              color: black;
         }

	a:hover {
	    border-left: solid 5px #22CE83;
	    padding-left: 3px;
            color: black;
        }

	.image-box {
            border: none;
            background-color: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

	img {
		background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	.list_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
	}

	.list_container > * {
		flex: 1;
	}

    </style>
</head>
<body>
    <header>
	  <div class="p">
	  <p class="name"><b>Estate<span>Ease<span></b></p>
	  <p class="role">Making Real Estate Simple</p>
	  </div>
	  <ul class="nav">
	      <div class="dropdown">
        	 	<button class="dropbtn">Agent / House</button>
        		<div class="dropdown-content">
            			<a href="/admin/add_house">Add house</a>
            			<a href="/admin/list_house">View House</a>
            			<a href="/admin/add_agent">Add Agent</a>
            			<a href="/admin/list_agent">View Agent</a>
              			<a href="/admin/list_tenant"><b>View Tenant</b></a>
        		</div>
    		</div>
              <a href="/admin"><b>Home</b></a>
              <a href="/logout"><b>Logout</b></a>
	  </ul>
    </header>
    <div class="container">
	<section class="mini-nav">
	  <div>
	    <p class="name"><b>{{ user.full_name  }}</b></p>
	    <p class="role">{{ user.__class__.__name__  }}</p>
	  </div>
	    <ul class="nav">
		    <a href="/admin"><h2 style="color: #808080"`>Dashboard</h2></a>
            </ul>
	</section>
	<div class="list_container">
	  <h1> List of house ({{ houses | length}})</h1>
	  <input type="text" id="searchBox" placeholder="Search for house...">
	  <table class="styled-table">
	   <thead>
	   <tr>
	     <th><b>House id</b></th>
	     <th><b>agent id</b></th>
	     <th><b>Type</b></th>
	     <th><b>Location</b></th>
	     <th><b>Price</b></th>
	     <th><b>Action</b></th>
	   </tr>
	   </thead>
	   <tbody id="agentTableBody">
	  {% for v in houses  %}
	  <tr>
	    <td> {{ v.id }} </td>
	    <td> {{ v.agent_id }} </td>
	    <td> {{ v.house_type }} </td>
	    <td> {{ v.location }} </td>
	    <td> {{ v.price  }}  </td>
	    <td>
  	      <div class="form-container" id="{{ v.id  }}" style="display: none">
                <form id="{{ v.id  }}">
                    agent_id<input type='radio' id='agent_id' value='agent_id' name='update'><br>
                    Type<input type='radio' id='fullname' value='house_type' name='update'><br>
                    Location<input type='radio' id='phone_number' value='location' name='update'><br>
                    Price<input type='radio' id='password' value='price' name='update'><br>
                </form>
              </div>
	      <button class="action-button" value="{{ v.id  }}">Edit</button>
	      <button class="action-button delete" value="{{ v.id  }}">Delete</button>
	    </td>
	  </tr>
  	  {% endfor  %}
	   </tbody>
	  </table>
	  <p id="test"></p>
	</div>
    </div>
    <footer>
        <p>&copy; 2024 EstateEase. All rights reserved.</p>
    </footer>

<script>
  $(function(){

    $("input[type='radio']").prop("checked", false);

    $('#searchBox').on('keyup', function() {
       const searchQuery = $(this).val().toLowerCase();
       $('#agentTableBody tr').each(function() {
          const id = $(this).find('td').eq(0).text().toLowerCase();
          const agent_id = $(this).find('td').eq(1).text().toLowerCase();
          const fullName = $(this).find('td').eq(2).text().toLowerCase();
          const phoneNo = $(this).find('td').eq(3).text().toLowerCase();
          const email = $(this).find('td').eq(4).text().toLowerCase();

          if (fullName.includes(searchQuery) || phoneNo.includes(searchQuery) || id.includes(searchQuery) || agent_id.includes(searchQuery) || email.includes(searchQuery)) {
              $(this).show();
          } else {
              $(this).hide();
          }
        });
    });

    $(".action-button").on("click", function(){
       var value = $("INPUT[name='update']:checked").val()
       if (value) {
          var name = prompt("update " + value)
	  if (!name) {
            return
	  }
        if (value === "house_type") {
          dic = JSON.stringify({house_type: name})
        } else if (value === "agent_id") {
          dic = JSON.stringify({agent_id: name});
        } else if (value === "location") {
          dic = JSON.stringify({location: name});
        } else if (value === "price") {
          dic = JSON.stringify({price: name})
        }
        $.ajax({
			url: "/admin/update/" + $(this).val(),
          data: dic,
          contentType: "application/json",
          method: "PUT",
          success: function(res) {
	   alert(res)
	   location.reload()
          },
	error: function(xhr, status, error) {
	  alert(error)
	  location.reload()
	}
	})
	}
	var t = $(this).val();
	$("#" + t).fadeIn()
	$("#test").val(t)
      })
    $(".action-button.delete").on("click", function(){
      var id = $(this).val();
      dic = JSON.stringify({id: id})
      result = confirm("Are you sure you want to delele user?")
      if (!result) {
	return
      }
      $.ajax({
	url: "/admin/delete/" + id,
	data: dic,
	method: "DELETE",
	contentType: "application/json",
	success: function(res) {
	  alert(res)
	  location.reload()
        },
        error: function(xhr, status, error) {
          alert(error)
          location.reload()
        }
      })
  })
     $("#test").text()
})
</script>
</body>
</html>
